#index, #portfolio, #contact {
	background-color: #e2dbd1;
}
#titleTwo {
	margin-top: 30px;
	margin-bottom: 70px;
	font-weight: bolder;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1.5px;
}
.nav-link {
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
	margin-left: 10px;
	margin-right: 10px;
}
h2 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin-top: 5px;
}
#formOpt {
	margin-bottom: 25px;
}
#submit {
	font-family: 'Quicksand', sans-serif;
	border: solid 1px black;
}
label {
	font-family: 'Quicksand', sans-serif;
}
.container {
	margin-bottom: 38px;
}
.caption {
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1.5px;
}
#ghub {
	margin-top: 0;
}
#bio {
	width: 100%;
	font-family: 'Quicksand', sans-serif;
}
#footer {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0;
	padding-bottom: 0;
}
#icon {
	color: black;
	padding: 1px;
	margin-top: 10px;
}
#ftext {
	font-size: 8pt;
	padding-left: 5px;
	font-family: 'Quicksand', sans-serif;
}
#emailIcon {
	padding: 5px;
}
#directEmail {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	margin-top: 30px;
}